.wrapper {
  margin: 0;
  padding: 0;
}

.headlines {
  margin: 3px 20px;
  h3 {
    color: $prim-blue;
    font-weight: 700;
  }
}

.hamburger {
    color: $white;
    float: right;
    background: $font-color;
    padding: 0 10px;
  }
