//colors
$prim-blue      :#005689;
$sec-blue       :#00456E;
$accent         :#4BC6DF;

$white          :#FFFFFF;
$gray           :#F5F5F5;
$font-color     :#333333;
//fonts

//asset paths
$path-font: '../../fonts';
